@model erpV2.Models.Classes.SalesTransaction

@{
    ViewBag.Title = "NewSales";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br/>
<h2>New Sales Transaction</h2>
<br/>

<form class="form-group" method="post">
    @Html.DisplayName("Product")
    @Html.DropDownListFor(x => x.ProductID, (List<SelectListItem>)ViewBag.prod, "Choose Product", new { @class = "form-control" })
    <br />
    @Html.DisplayName("Customer")
    @Html.DropDownListFor(x => x.CustomerID, (List<SelectListItem>)ViewBag.cust, "Choose Customer", new { @class = "form-control" })
    <br />
    @Html.DisplayName("Personnel")
    @Html.DropDownListFor(x => x.PersonnelID, (List<SelectListItem>)ViewBag.pers, "Choose Personnel", new { @class = "form-control" })
    <br />
    @Html.DisplayName("Unit Price")
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    <br />
    @Html.DisplayName("Quantity")
    @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control" })
    <br />
    @Html.DisplayName("Total Price")
    @Html.TextBoxFor(x => x.TotalPrice, new { @class = "form-control" })
    <br />
    @Html.DisplayName("Date")
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    <button class="btn btn-secondary">Add</button>
</form>

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
