@using erpV2.Models.Classes
@model List<SalesTransaction>
@{
    Layout = null;
}

<br />

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Bootstrap 4 Responsive Datatable and Export to PDF, CSV</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap4.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">

</head>

<body style="width:98%">

    <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%; margin-left:10px; margin-right:10px">

        <thead>

            <tr>

                <th>Sales ID</th>

                <th>Product</th>

                <th>Customer</th>

                <th>Personnel</th>

                <th>Unit Price</th>

                <th>Quantity</th>

                <th>Total Price</th>

                <th>Date</th>



            </tr>

        </thead>

        <tbody>

            @foreach (var x in Model)

            {

                <tr>

                    <td>@x.SalesID</td>

                    <td>@x.Product.ProductName</td>

                    <td>@x.Customer.CustomerName</td>

                    <td>@x.Personnel.PersonnelFirstname</td>

                    <td>@x.Price</td>

                    <td>@x.Quantity</td>

                    <td>@x.TotalPrice</td>

                    <td>@x.Date</td>

                </tr>

            }



        </tbody>

    </table>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap4.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>

    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>

    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>

    <script>

        $(document).ready(function () {

            var table = $('#example').DataTable({

                lengthChange: false,

                buttons: ['copy', 'excel', 'csv', 'pdf', 'colvis']

            });



            table.buttons().container()

                .appendTo('#example_wrapper .col-md-6:eq(0)');

        });

    </script>
    <style>
        .dataTables_wrapper {
            margin-left: 5px;
        }
    </style>
</body>


</html>
