@using erpV2.Models.Classes;
@model List<Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>City</th>
        <th>Email Address</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Details</th>
    </tr>
    @foreach (var c in Model)
    {
        <tr>
            <td>@c.CustomerID</td>
            <td>@c.CustomerName</td>
            <td>@c.CustomerSurname</td>
            <td>@c.CustomerCity</td>
            <td>@c.CustomerMailAddress</td>
            <td><a href="/Customer/DeleteCustomer/@c.CustomerID" class="btn btn-danger">Delete</a></td>
            <td><a href="/Customer/UpdateCustomer/@c.CustomerID" class="btn btn-success">Update</a></td>
            <td><a href="/Customer/CustomerDetails/@c.CustomerID" class="btn btn-warning">History</a></td>
        </tr>

    }
</table>

<a href="/Customer/NewCustomer/" class="btn btn-secondary">Add</a>

