@model erpV2.Models.Classes.Personnel
@{
    ViewBag.Title = "NewPersonnel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br/>
<h2>New Personnel</h2>
<br />

<form class="form-group" method="post">
    @Html.Label("First Name")
    @Html.TextBoxFor(x => x.PersonnelFirstname, new { @class = "form-control" })
    <br />
    @Html.Label("Last Name")
    @Html.TextBoxFor(x => x.PersonnelLastname, new { @class = "form-control" })
    <br />
    @Html.Label("Title")
    @Html.TextBoxFor(x => x.PersonnelTitle, new { @class = "form-control" })
    <br />
    @Html.Label("Email Address")
    @Html.TextBoxFor(x => x.PersonnelEmailAddress, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Status)
    @Html.TextBoxFor(x => x.Status, new { @class = "form-control" })
    <br />
    <button class="btn btn-secondary">Save</button>
</form>
