@model erpV2.Models.Classes.Product
@{
    ViewBag.Title = "BringProduct";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Update Product</h2>
<br />

@using (Html.BeginForm("UpdateProduct", "Product", FormMethod.Post))
{     <div class="form-group">
    @Html.HiddenFor(x => x.ProductID) @*göndermezsem null gelir*@
    @Html.Label("Product Name")
    @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.ProductBrand)
    @Html.TextBoxFor(x => x.ProductBrand, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Stock)
    @Html.TextBoxFor(x => x.Stock, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.PurchasePrice)
    @Html.TextBoxFor(x => x.PurchasePrice, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.SalePrice)
    @Html.TextBoxFor(x => x.SalePrice, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Category.CategoryID)
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.cat, "Choose Category", new { @class = "form-control" })
    @*@Html.TextBoxFor(x => x.CategoryID, new { @class = "form-control" })*@
    <br />
    @Html.LabelFor(x => x.ProductImage)
    @Html.TextBoxFor(x => x.ProductImage, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Status)
    @Html.TextBoxFor(x => x.Status, new { @class = "form-control" })
    <br />
    <button class="btn btn-secondary">Save</button>
</div>
    
}
